<% if @estado %>
  <div>Estado: <%= @estado.nome %></div>
<% end %>

<% if @cidade %>
  <div>Cidade: <%= @cidade.nome %></div>
<% end %>

<% if @estabelecimento %>
  <div>Estabelecimento: <%= @estabelecimento.nome %></div>
<% end %>
